RPC_URL_ARBITRUM_SEPOLIA=https://sepolia-rollup.arbitrum.io/rpc
ARBISCAN_API_KEY=
PRIVATE_KEY=
ASSET_ADDRESS=
AI_AGENT_ADDRESS=
TREASURY_ADDRESS=0xB48bf..........
AAVE_POOL_ADDRESS=0x794a61358D6845594F94dc1DB02A252b5b4814aD
ATOKEN_ADDRESS=